<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>TV Show {{show.id}}</h1>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <p>Title: {{show.title}}</p>
        <p>Network: {{show.network}}</p>
        <p>Release Date: {{show.release_date}}</p>
        <p>Description: {{show.desc}}</p>
        <p>Last updated: {{show.updated_at}}</p>
    </div>
    <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/destroy">Delete</a>
    <p></p>
    <a href="/shows">Go back</a>
</body>
</html>